body {
    background-color: #333;
    color: #111;
    margin: 0;
}
header {
    display: flex;
    flex-flow: row wrap;
}
header img {
    width: 130px;
    max-width: 100%;
}
header h1 {
    flex: 1;
}
h1 {
    border-bottom: 1px solid #333;
}
h1 small {
    font-size: 70%;
    color: gray;
}
h2 {
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 10px;
}
#menu {
    text-align: center;
}
#document {
    padding: 25px;
    background-color: #EEE;
    max-width: 1000px;
    margin: 0 auto;
}
#document:after {
    content: "";
    display: table;
    clear: both;
}
img {
    margin: 15px;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
}
img[src~="svg"] {
    max-width: 100px;
}
.split {
    display: flex;
    flex-flow: row wrap;
}
.split > div {
    flex: 1;
    padding: 0 25px;
}
.copyleft {
    display:inline-block;
    transform: rotate(180deg);
}
p {
    text-indent: 15px;
}
footer {
    clear: both;
    color: gray;
    margin-top: 15px;
    text-align: center;
    font-style: italic;
}
